{:kotoba.app/id "cloud.itonami.isic-1392", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiacdbv3fvl7pxzvgewgoggnlrgm2indi63bobg6l7far4p5prjnh4", :kotoba.app/embed-url "ipfs://bafkreiacdbv3fvl7pxzvgewgoggnlrgm2indi63bobg6l7far4p5prjnh4", :published {:archive "https://kotobase.net/ipfs/bafkreiacdbv3fvl7pxzvgewgoggnlrgm2indi63bobg6l7far4p5prjnh4", :size 73051, :put-status 201, :get-status 200, :at "2026-08-15T13:34:16.668Z"}}
